@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

section {
  z-index: 2;
  position: relative;
}

/* Navbar */
.bgcolor.scrolled {
  background-color: rgba(0, 0, 0, 0.692);
}

/* Carousel */
.home .carousel-item {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home .logo {
  color: #ffffff;
}

.home .carousel-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.home .carousel-item p {
  font-size: 15px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}

.home .carousel-item.active h2 {
  animation: fadInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
  animation: fadInRight 0.5s ease forwards;
}

@keyframes fadInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Benner */
.bg-cover {
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px 22px;
  transition: all 0.3s ease;
}

.btn-main {
  background: linear-gradient(to right, #27bacd, #140ec1);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 99, 108, 0.7), rgba(5, 3, 92, 0.7));
  z-index: -1;
}

/* Product Brand */
.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(to right, #27bacd, #140ec1);
  margin: 16px auto;
}

.service .service-img {
  position: relative;
}

.service .service-img .icon {
  width: 90px;
  height: 90px;
  background: linear-gradient(to right, #27bacd, #140ec1);
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.service .service-img .icon i {
  font-size: 36px;
}

/* Card Product */
.daftar .container {
  width: 100%;
  min-height: 100%;
  background-color: rgb(240, 234, 234);
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.daftar .container i {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.daftar .container h3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.card .container {
  width: 90%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.card .container .card {
  width: 270px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid crimson;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.card .container .card .product-image {
  width: 160px;
  margin: 20px auto;
}

.card .container .card .product-image img {
  width: 100%;
  transform: 0.4s;
}

.card .container .card .product-image img:hover {
  transform: scale(1.1);
}

.card .container .card .product-info h4 {
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.card .container .card .btn {
  width: 100%;
}

.card .container .card .btn button {
  width: 100%;
  padding: 3px;
  background: crimson;
  border: 1px solid gray;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
}

.card .container .card .list-group li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer */
.text-heading {
  color: #343a40;
}

.text-para {
  color: #1d1e1f;
}
