@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  font-family: 'Play', sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

section {
  z-index: 2;
  position: relative;
}

/* Navbar */
.bgcolor.scrolled {
  background-color: rgba(0, 0, 0, 0.692);
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  width: 22px;
  height: 1.4px;
  background-color: #eceaea;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #a4a1a1;
}

/* Carousel */
.home .carousel-item {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home .logo {
  color: #ffffff;
}

.home .carousel-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.home .carousel-item p {
  font-size: 15px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}

.home .carousel-item.active h2 {
  animation: fadInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
  animation: fadInRight 0.5s ease forwards;
}

@keyframes fadInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Benner */
.bg-cover {
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px 22px;
  transition: all 0.3s ease;
}

.btn-main {
  background: linear-gradient(to right, #27bacd, #140ec1);
  border-radius: 100px;
  border: none;
  font-weight: 400;
  color: rgb(170, 209, 241);
}

.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}

.bi-box-seam {
  color: rgb(205, 206, 208);
  padding-top: 20%;
}

.bi-box-seam:hover {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 99, 108, 0.7), rgba(5, 3, 92, 0.7));
  z-index: -1;
}

/* Product Brand */
.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(to right, #27bacd, #140ec1);
  margin: 16px auto;
}

.service {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  border-radius: 2px;
}

.service:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.service .service-img {
  position: relative;
}

.service .service-img .icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(to right, #27bacd, #140ec1);
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.service .service-img .icon i {
  font-size: 34px;
}

/* Contact */
.contact {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.contact:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.contact .person {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 18px;
}

.contact .person img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.whatsapp img {
  transform: 0.8s;
}

.whatsapp img:hover {
  transform: scale(1.1);
}

/* Product Card */
.product-card .container .card {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  display: flex;
}

.product-card .container .card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.product-card .container .card h1 {
  font-size: 20px;
}

.product-card .container .card .product-image {
  width: 120px;
  margin: 20px auto;
}

.product-card .container .card .product-image img {
  width: 100%;
  transform: 0.4s;
}

.product-card .container .card .product-image img:hover {
  transform: scale(1.1);
}

.product-card .container .card .product-info h1 {
  font-size: 16px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.product-card .container .card .list-group li {
  margin: 0;
  padding: 0.1rem 0;
  font-size: 13px;
  align-items: center;
  list-style: none;
}

.product-card .container .card .btn {
  width: 100%;
}

.product-card .container .card .btn button {
  padding: 3px 9px;
  background: none;
  background-color: rgb(0, 137, 161);
  border: 1px solid gray;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
  border-radius: 2px;
}

.product-card .container .card .btn button:hover {
  background-color: rgb(141, 0, 94);
  cursor: pointer;
}

/* Product Card Popup */
.popup {
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup-content {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  opacity: 0;
  transition: all 0.5s 0.1s;
}

.popup-close:link,
.popup-close:visited {
  position: absolute;
  top: 12px;
  right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s;
}

.popup-close:hover,
.popup-close:active {
  color: #555;
}

.popup-header {
  text-align: center;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 36px;
  font-size: small;
}

.popup .table {
  text-align: justify;
}

.popup .table .text-1 {
  text-align: center;
}

.popup-header h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.popup .btn {
  width: 100%;
}

.popup .btn button {
  padding: 3px 9px;
  background: none;
  background-color: rgb(0, 137, 161);
  border: 1px solid gray;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
}

.popup .btn button:hover {
  background-color: rgb(141, 0, 94);
  cursor: pointer;
}
/* m12 */
#popup-m12:target {
  opacity: 1;
  visibility: visible;
}

#popup-m12:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a16 */
#popup-a16:target {
  opacity: 1;
  visibility: visible;
}

#popup-a16:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* c25y */
#popup-c25y:target {
  opacity: 1;
  visibility: visible;
}

#popup-c25y:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y15s */
#popup-y15s:target {
  opacity: 1;
  visibility: visible;
}

#popup-y15s:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* c21y */
#popup-c21y:target {
  opacity: 1;
  visibility: visible;
}

#popup-c21y:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* 9c */
#popup-9c:target {
  opacity: 1;
  visibility: visible;
}

#popup-9c:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a03 */
#popup-a03:target {
  opacity: 1;
  visibility: visible;
}

#popup-a03:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y01 */
#popup-y01:target {
  opacity: 1;
  visibility: visible;
}

#popup-y01:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* c11 */
#popup-c11:target {
  opacity: 1;
  visibility: visible;
}

#popup-c11:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a03core */
#popup-a03core:target {
  opacity: 1;
  visibility: visible;
}

#popup-a03core:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y21s */
#popup-y21s:target {
  opacity: 1;
  visibility: visible;
}

#popup-y21s:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a55 */
#popup-a55:target {
  opacity: 1;
  visibility: visible;
}

#popup-a55:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a13 */
#popup-a13:target {
  opacity: 1;
  visibility: visible;
}

#popup-a13:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* mi10prime */
#popup-mi10prime:target {
  opacity: 1;
  visibility: visible;
}

#popup-mi10prime:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a16 */
#popup-a16:target {
  opacity: 1;
  visibility: visible;
}

#popup-a16:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y21a */
#popup-y21a:target {
  opacity: 1;
  visibility: visible;
}

#popup-y21a:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a16k */
#popup-a16k:target {
  opacity: 1;
  visibility: visible;
}

#popup-a16k:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* c35 */
#popup-c35:target {
  opacity: 1;
  visibility: visible;
}

#popup-c35:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* x70pro */
#popup-x70pro:target {
  opacity: 1;
  visibility: visible;
}

#popup-x70pro:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* reno75g */
#popup-reno75g:target {
  opacity: 1;
  visibility: visible;
}

#popup-reno75g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* v235g */
#popup-v235g:target {
  opacity: 1;
  visibility: visible;
}

#popup-v235g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* reno7z5g */
#popup-reno7z5g:target {
  opacity: 1;
  visibility: visible;
}

#popup-reno7z5g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a535g */
#popup-a535g:target {
  opacity: 1;
  visibility: visible;
}

#popup-a535g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* reno74g */
#popup-reno74g:target {
  opacity: 1;
  visibility: visible;
}

#popup-reno74g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* v215g */
#popup-v215g:target {
  opacity: 1;
  visibility: visible;
}

#popup-v215g:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a96 */
#popup-a96:target {
  opacity: 1;
  visibility: visible;
}

#popup-a96:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* v23e */
#popup-v23e:target {
  opacity: 1;
  visibility: visible;
}

#popup-v23e:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* 9pro */
#popup-9pro:target {
  opacity: 1;
  visibility: visible;
}

#popup-9pro:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* note11pro */
#popup-note11pro:target {
  opacity: 1;
  visibility: visible;
}

#popup-note11pro:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a95 */
#popup-a95:target {
  opacity: 1;
  visibility: visible;
}

#popup-a95:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a23 */
#popup-a23:target {
  opacity: 1;
  visibility: visible;
}

#popup-a23:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y33s */
#popup-y33s:target {
  opacity: 1;
  visibility: visible;
}

#popup-y33s:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* y33t */
#popup-y33t:target {
  opacity: 1;
  visibility: visible;
}

#popup-y33t:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* a76 */
#popup-a76:target {
  opacity: 1;
  visibility: visible;
}

#popup-a76:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
